html {
    scroll-behavior: smooth;
}

#carouselExampleIndicators {
    padding-top: 5px;
    padding-bottom: 10px;
}

nav {
    position: absolute;
}

.bg {
    /* The image used */
    background-image: url("../img/7.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

.fa {
    margin-right: 5px;
}

footer .address ul li a {
    text-decoration: none;
}
.fa-angle-right {
    float: right;
}

.right {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.right .fa {
    font-size: 2.5em;
}
